@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* STYLE FOR 'HOME & CONTACT' PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Abril Fatface';
}


.home-header {
  font-size: 20px;
  margin: 0 auto;
  background-color: #F2F5DE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
}

.home-header a {
  text-decoration: none;
  color: inherit;

}

.home-header h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.home-main {
  background-color: #586F6B;
  flex: 1 0 auto
}

.home-main nav li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  padding: 0 30px;
}

.home-footer {
  background-color: orange;
}

nav {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;

}

#index-sign,
#about-sign {
  list-style-type: none;
  float: left;
  position: relative;
  top: 300px;
  letter-spacing: 4px;
}

#gallery-sign,
#learn-sign {
  list-style-type: none;
  float: right;
  position: relative;
  top: 215px;
  letter-spacing: 4px;
}

#contact-sign {
  list-style-type: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
  letter-spacing: 4px;

}

.active {
  border-bottom: 1px solid #3a3a3a;
}


/* Responsive design for screen-size=>768px */
@media screen and (min-width: 768px) {

  #index-sign,
  #about-sign {
    list-style-type: none;
    float: left;
    position: relative;
    top: 450px;
    letter-spacing: 4px;
  }

  #gallery-sign,
  #learn-sign {
    list-style-type: none;
    float: right;
    position: relative;
    top: 370px;
    letter-spacing: 4px;
  }

  #contact-sign {
    list-style-type: none;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    letter-spacing: 4px;
  }

  .home-main nav li a {
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    padding: 0 30px;
  }
}

/* Responsive for screen-size=>820px */
@media screen and (min-width: 820px) {

  #index-sign,
  #about-sign {
    list-style-type: none;
    float: left;
    position: relative;
    top: 530px;
    letter-spacing: 4px;
  }

  #gallery-sign,
  #learn-sign {
    list-style-type: none;
    float: right;
    position: relative;
    top: 450px;
    letter-spacing: 4px;
  }

  #contact-sign {
    list-style-type: none;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    letter-spacing: 4px;
  }

  .home-main nav li a {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    padding: 0 30px;
  }
}

/* Responsive for screen-size=>1024px */
@media screen and (min-width: 1024px) {

  #index-sign,
  #about-sign {
    list-style-type: none;
    float: left;
    position: relative;
    top: 580px;
    letter-spacing: 4px;
  }

  #gallery-sign,
  #learn-sign {
    list-style-type: none;
    float: right;
    position: relative;
    top: 490px;
    letter-spacing: 4px;
  }

  #contact-sign {
    list-style-type: none;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    letter-spacing: 4px;
  }

  .home-main nav li a {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    padding: 0 30px;
  }
}

/*
/*
/*
/*
/* STYLE FOR 'CONTACT' PAGE */
.contact02 {
  background: url(../assets/media/black02.jpeg) no-repeat center center fixed;
  color: antiquewhite;
}

.contact02 header {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.contact02 nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 50px;
}

.contact02 nav li a {
  display: block;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  padding: 0 30px;
}

ul li a:hover {
  color: goldenrod;

}

ul li a i:hover {
  color: goldenrod;

}

div {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}


fieldset div {
  text-align: left;
}

fieldset p {
  text-align: left;
}

.feedback textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;

}

form {
  margin: 0;
  padding: 10;
}


.name_email-field input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.name_email-field input[type=email] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/*
/*
/*
/*
/* STYLE FOR 'About us' PAGE */

.about-header {
  font-size: 20px;
  margin: 0 auto;
  background-color: #F2F5DE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
}

.about-main {
  background: url(../assets/media/black02.jpeg) no-repeat center center fixed;
}

.about-header nav li {
  list-style-type: none;
  float: left;
  position: relative;
  top: 50px;
}

.about-header nav li a {
  display: block;
  text-decoration: none;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0 30px;
}

.intro {
  width: 100%;
  padding: 80px 0px;

}

.intro img {
  height: auto;
  width: 490px;
  display: none;
}

.our-msg {
  width: 580px;

}

.our-msg h2 {
  color: antiquewhite;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
  flex: 1 0 auto;
  flex: 1 0 auto;
}

.our-msg h6 {
  color: antiquewhite;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 27px;
  letter-spacing: 3px;
  flex: 1 0 auto;
}

.our-msg p {
  color: antiquewhite;
  letter-spacing: 3px;
  line-height: 30px;
  font-size: 12px;
  flex: 1 0 auto;
}

span {
  color: goldenrod;
}

span a {
  color: goldenrod;
}

span a:hover {
  color: antiquewhite;
  cursor: pointer;
}


.main {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details summary h2 {
  text-align: center;
  justify-content: center;
  padding: 0.1rem;
  cursor: pointer;
  color: antiquewhite;
  font-size: 12px;
  color: antiquewhite;

}

details summary:hover {
  background-color: goldenrod;
}

.morecontent p {
  letter-spacing: 3px;
  line-height: 30px;
  font-size: 12px;
  flex: 1 0 auto;
  color: antiquewhite;
}

@media screen and (min-width: 1024px) {
  .intro img {
    height: auto;
    width: 50%;
    display: inline-block;
    padding: 0px
  }
}

/*
/*
/*
/*
/* STYLE FOR 'Gallery' PAGE */
.gallery-header {
  font-size: 20px;
  margin: 0 auto;
  background-color: #F2F5DE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
}

.gallery-header h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.gallery-header nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 50px;
}

.gallery-header nav li a {
  color: inherit;
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 30px;
}

.product-catalouge {
  width: 100%;
  float: left;
  padding: 1%;
  border-bottom: 0.01em solid #dddbdb;
}

.mushroom-products {
  float: left;
  width: 28%;
  border-radius: 2%;
  margin: 1%;
}

.image-box {
  width: 100%;
  overflow: hidden;
  border-radius: 2% 2% 0 0;
}

.images {
  height: 15em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2% 2% 0 0;
  transition: all 1s ease;
}


.images:hover {
  transform: scale(1.3);
}

/* IMAGES FOR GALLERY PAGE DEFINED BY "#"-SIGN FOR ID's */
#image-001 {
  background-image: url("#cordeceps")
}

#image-002 {
  background-image: url("Lion's Mane")
}

#image-003 {
  background-image: url("Reishi")
}

#image-004 {
  background-image: url("Turkey Tail")
}

#image-005 {
  background-image: url("Maitake")
}

#image-006 {
  background-image: url("Black Trumpet")
}

#image-007 {
  background-image: url("Shiitake")
}

#image-008 {
  background-image: url("Oyster")
}

#image-009 {
  background-image: url("Porcini")
}

#image-010 {
  background-image: url("Portobello")
}

#image-011 {
  background-image: url("Chanterella")
}

#image-012 {
  background-image: url("Coral")
}

#image-013 {
  background-image: url("Enoki")
}

#image-014 {
  background-image: url("Hedgehog")
}

#image-015 {
  background-image: url("Morel")
}

#image-016 {
  background-image: url("Button")
}

/*
/*
/*
/*
/* STYLE FOR 'learn more' PAGE */


.learnmore-header {
  background-color: lightcoral;
}

.nav4learn li {
  list-style-type: none;
  float: left;
  position: relative;
  top: 50px;
}

.learnmore-main {
  background-color: lightseagreen;
  flex: 1 0 auto
}

.learnmore-footer {
  background-color: orange;
}