@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* STYLE General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #1E1F24;
}

.active {
  border-bottom: 1px solid #C39A3C;
  transition: border-bottom-color 0.5s;
}

.active:hover {
  border-bottom-color: antiquewhite;
  transition: border-bottom-color 0.5s;
}

#social-network {
  text-align: center;
  padding: 20px 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

#social-network .fa-instagram {
  font-size: 25px;
}

/* BEFORE: Media query:tablets and larger (768+ px) */
.navselector {
  position: absolute;
  background-color: #D7E7CE;
  width: 100%;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

#navmenu {
  font-size: 90%;
  letter-spacing: 4px;
  list-style-type: none;
}

#navmenu>li {
  margin-bottom: 0.8em;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* AFTER: Media query:tablets and larger (768 & up) */
@media screen and (min-width: 768px) {
  .navselector {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    color: inherit;
  }

  #navmenu {
    display: flex;
  }

  #navmenu>li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }
}

/*
/*
/*
/*
/* STYLE FOR 'HOME PAGE */
.home-header {
  margin: 0 auto;
  background-color: #D7E7CE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
}

.logo {
  width: 85px;
  float: right;
  padding: 2%;
  margin: 2%;
}

.home-header a {
  text-decoration: none;
  color: inherit;
}

.home-header h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  font-size: 32px;
}

.home-main {
  background: url(../assets/media/trial07modified02.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1 0 auto;
}

.home-main nav li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #C39A3C;
  padding: 0 20px;
  font-weight: bold;
}

.home-main nav li:hover a {
  color: antiquewhite;
}

nav {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
  
}

#index-sign,
#about-sign {
  float: left;
  position: relative;
  top: 300px;
  letter-spacing: 6px;
  clear: both; 
  margin-bottom: 30px; 
}


#gallery-sign,
#learn-sign {
  float: right;
  position: relative;
  top: 210px;
  letter-spacing: 6px;
  clear: both;
  margin-bottom: 30px; 
}

#contact-sign {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30%;
  letter-spacing: 6px;
  border-radius: 5px; 
  background-color: black; 
  padding: 5px 10px;
}

.home-footer {
  background-color:#D7E7CE ;
}


/* Responsive design for screen-size=>768px */
@media screen and (min-width: 768px) {

  #index-sign,
  #about-sign {
    top: 450px;
  }

  #gallery-sign,
  #learn-sign {
    top: 300px;
  }

  #contact-sign {
    margin-bottom: 20%;
  }

  .home-main nav li a {
    font-size: 30px;
  }

  #social-network {
    padding: 30px 0;
  }

  #about-sign {
    padding-top: 4%;
  }

  #learn-sign {
    padding-top: 4%;
  }

  .logo {
    width: 130px;
    float: right;
    padding: 1%;
    margin: 2%;
  }

  .home-header h1 {
    text-align: center;
    padding-top: 1%;
    font-size: 48px;
  }

}

/* Responsive for screen-size=>820px */
@media screen and (min-width: 820px) {

  #index-sign,
  #about-sign {
    top: 530px;
  }

  #gallery-sign,
  #learn-sign {
    top: 375px;
  }

  #contact-sign {
    margin-bottom: 20%;
  }

  .home-main nav li a {
    font-size: 30px;
  }

  #about-sign {
    padding-top: 4%;
  }

  #learn-sign {
    padding-top: 4%;
  }
}

/* Responsive for screen-size=>1024px */
@media screen and (min-width: 1024px) {

  #index-sign,
  #about-sign {
    top: 600px;
  }

  #gallery-sign,
  #learn-sign {
    top: 420px;
  }

  #contact-sign {
    margin-bottom: 20%;

  }

  .home-main nav li a {
    font-size: 40px;
  }

  #social-network {
    padding: 35px 0;
  }

  #about-sign {
    padding-top: 4%;
  }

  #learn-sign {
    padding-top: 4%;
  }

  .home-header h1 {
    text-align: center;
    padding-top: 1%;
    font-size: 60px;
  }

  .logo {
    width: 160px;
    float: right;
    padding: 1%;
    margin: 2%;
  }
}

/* Responsive for screen-size=>1280px */
@media only screen and (min-width: 1280px) {

  #index-sign,
  #about-sign {
    top: 380px;
  }

  #gallery-sign,
  #learn-sign {
    top: 340px;
  }

  #contact-sign {
    margin-bottom: 10%;

  }

  .home-main nav li a {
    font-size: 38px;
  }

  #social-network {
    padding: 35px 0;
  }

  #about-sign {
    padding-top: 4%;
  }

  #learn-sign {
    padding-top: 4%;
  }
}

/*
/*
/*
/*
/* STYLE FOR 'CONTACT' PAGE */
.contactus-header {
  background-color: #D7E7CE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contactus-header h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.contactus-header nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 25px;
}

.contactus-header nav li a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 7px;
}

.contactus-header nav li:hover a {
  color: goldenrod;
}

.contactus-main {
  padding: 2%;
  background-image: url("../assets/media/trial02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contactus-main article {
  background-image: url("../assets/media/black02.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 1em 2em;
  border-radius: 10px;
  box-shadow: 0 0 12px;
  margin-bottom: 10%;
}

.contactus-main article h4 {
  text-decoration: underline; 
  font-weight: normal; 
  font-family: 'Arial', sans-serif; 
  color: #E9F1F7;
}

.contactus-main h2 {
  color: #252525;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 25%;
  letter-spacing: 4px;
  flex: 1 0 auto;
  text-align: center;
}

.contactus-main fieldset {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: antiquewhite;
  font-size: 60%;
  padding: 2%;
}

.contactus-main fieldset legend {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: antiquewhite;
  font-size: 100%;

}

textarea {
  display: block;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid #000000;
  background-color: whitesmoke;
}

.name_email-field input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: whitesmoke;
}

.name_email-field input[type=email] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: whitesmoke;
}

/* Media query:tablets and larger (768 & up) */
@media screen and (min-width: 768px) {
  .contactus-header h1 {
    font-size: 35px;
    padding-bottom: 2%;
  }

  .contactus-main h2 {
    font-size: 45px;
    margin-top: 20%;
    letter-spacing: 6px;
  }

  .contactus-header nav li a {
    font-size: 15px;
    padding: 0 5px;
  }

  .contactus-main fieldset {
    letter-spacing: 4px;
    font-size: 80%;
    padding: 2%;
  }

  .contactus-main fieldset legend {
    letter-spacing: 4px;
    font-size: 125%;
    padding: 0.1%;
  }

  textarea {
    width: 100%;
    border: 0.6px solid #000000;
    background-color: whitesmoke;
    box-shadow: 0 0 15px;
  }

  #submit {
    font-size: 18px
  }

  input[type="reset"] {
    padding: 4px;
  }

  #social-network {
    padding: 25px 0;
  }

  #social-network i {
    font-size: 25px;
  }
}

/* Media query:tablets and larger (820 & up) */
@media screen and (min-width: 820px) {
  .contactus-header h1 {
    letter-spacing: 2px;
    font-size: 40px;
    padding-bottom: 2%;
  }

  .contactus-main h2 {
    font-size: 35px;
    margin-top: 20%;
    letter-spacing: 6px;
  }

  .contactus-main fieldset {
    letter-spacing: 4px;
    font-size: 80%;
    padding: 4%;
  }

  .contactus-main fieldset legend {
    letter-spacing: 4px;
    font-size: 125%;
    padding: 0.1%;
  }

  #submit {
    font-size: 18px
  }

  input[type="reset"] {
    padding: 4px;
  }
}

/* Media query:tablets and larger (1024 & up) */
@media screen and (min-width: 1024px) {
  .contactus-header h1 {
    letter-spacing: 2px;
    font-size: 40px;
    padding-bottom: 2%;
  }

  .contactus-main h2 {
    font-size: 35px;
    margin-top: 20%;
    letter-spacing: 6px;
  }

  .contactus-header nav li a {
    font-size: 25px;
    padding: 0 5px;
  }

  .contactus-main fieldset {
    letter-spacing: 4px;
    font-size: 100%;
    padding: 5%;
  }

  .contactus-main fieldset legend {
    letter-spacing: 4px;
    font-size: 135%;
    padding: 0.2%;
  }

  #submit {
    font-size: 20px
  }

  input[type="reset"] {
    padding: 5px;
  }
}
/*
/*
/*
/*
/* STYLE FOR 'About us' PAGE */
.about-header {
  margin: 0 auto;
  background-color: #D7E7CE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.about-header h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.about-header nav li {
  list-style-type: none;
  float: left;
  position: relative;
  top: 25px;
}

.about-header nav li a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 7px;
}

.about-header nav li:hover a {
  color: goldenrod;
}

.about-main {
  background: url(../assets/media/black02.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1 0 auto
}

.intro {
  width: 100%;
  padding: 70px 0px;
}

.intro img {
  height: auto;
  width: 500px;
  display: none;
}

.our-msg {
  width: 580px;
}

.our-msg h2 {
  color: antiquewhite;
  font-size: 30px;
  margin-top: 7%;
  letter-spacing: 4px;
  flex: 1 0 auto;
  text-align: center;
  padding: 1%;
}

.our-msg h6 {
  color: antiquewhite;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 27px;
  letter-spacing: 2px;
  flex: 1 0 auto;
  text-align: center;
}

.our-msg h6 span {
  color: goldenrod;
}

.our-msg p {
  color: lavenderblush;
  letter-spacing: 1px;
  line-height: 190%;
  flex: 1 0 auto;
  font-size: 75%;
}

.main {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details summary h4 {
  text-align: center;
  justify-content: center;
  padding: 0.1rem;
  cursor: pointer;
  color: antiquewhite;
}

details summary h4 u {
  padding: 4%;
}

details summary:hover {
  background-color: goldenrod;
}

.morecontent p {
  color: lavenderblush;
  letter-spacing: 1px;
  line-height: 190%;
  flex: 1 0 auto;
  font-size: 75%;
  padding: 3%;
}

details[open]>summary:first-of-type {
  list-style-type: none;
}

details>summary:first-of-type {
  list-style: none;
}

/* Media query:tablets and larger (768 & up) */
@media screen and (min-width: 768px) {
  .about-header h1 {
    letter-spacing: 2px;
    font-size: 35px;
    padding-bottom: 2%;
  }

  .about-main h2 {
    font-size: 45px;
    margin-top: 20%;
    letter-spacing: 6px;
  }

  .intro img {
    width: 370px;
    display: inline-flex;
    padding-right: 3%;
  }

  .our-msg p {
    letter-spacing: 1px;
    line-height: 180%;
    flex: 1 0 auto;
    font-size: 100%;
  }

  .morecontent p {
    letter-spacing: 1px;
    line-height: 180%;
    flex: 1 0 auto;
    font-size: 100%;
  }

  details summary h4 {
    font-size: 140%;
  }
}

/* Media query:tablets and larger (1024 & up) */
@media screen and (min-width: 1024px) {
  .about-header h1 {
    letter-spacing: 2px;
    font-size: 45px;
    padding-bottom: 2%;
  }

  .about-main h2 {
    font-size: 60px;
    margin-top: 20%;
    letter-spacing: 6px;
  }

  .our-msg h6 {
    font-size: 20px;
  }

  .intro img {
    width: 490px;
    display: inline-flex;
    padding-right: 3%;
  }

  .our-msg p {
    letter-spacing: 2px;
    line-height: 190%;
    font-size: 130%;
  }

  .morecontent p {
    letter-spacing: 2px;
    line-height: 190%;
    font-size: 130%;
  }

  details summary h4 {
    font-size: 180%;
  }
}
/*
/*
/*
/*
/* STYLE FOR 'Gallery' PAGE */
.gallery-header {
  background-color: #D7E7CE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.gallery-header h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.gallery-header nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 25px;
}

.gallery-header nav li a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 7px;
}

.gallery-header nav li:hover a {
  color: goldenrod;
}

.gallery-main {
  background: url(../assets/media/black02.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1 0 auto
}

.gallery-main h2 {
  color: antiquewhite;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 25%;
  letter-spacing: 4px;
  flex: 1 0 auto;
  text-align: center;
}

.product-container {
  max-width: 1200px;
  margin: auto;
  background: #f2f2f2;
  overflow: hidden;
  margin: auto;
}

.mushroom-gallery {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.mushroom-gallery img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.desc {
  padding: 15px;
  text-align: center;
}

.desc a {
  list-style-type: none;
  color: darkolivegreen;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}


a:hover {
  color: goldenrod;
}

/* Media query:tablets and larger (768 & up) */
@media screen and (min-width: 768px) {
  .gallery-header h1 {
    font-size: 35px;
    padding-bottom: 2%;
    letter-spacing: 2px;
  }

  .gallery-main h2 {
    font-size: 45px;
    margin-top: 20%;
    letter-spacing: 6px;
    margin: 148px 0px 0px;
  }

  .desc a {
    font-size: 35px;
  }
}

/* Media query:tablets and larger (1024 & up) */
@media screen and (min-width: 1024px) {
  .gallery-header h1 {
    font-size: 45px;
    padding-bottom: 2%;
    letter-spacing: 2px;
  }

  .gallery-main h2 {
    font-size: 40px;
    margin-top: 25%;
    letter-spacing: 6px;
    margin: 150px 0px 0px;
  }

  a:-webkit-any-link {
    font-size: 40px;
  }

  .gallery-header nav li a {
    font-size: 18px;
  }
}
/*
/*
/*
/*
/* STYLE FOR 'learn more' PAGE */
.learnmore-header {
  background-color: #D7E7CE;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learnmore-header h1 {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.learnmore-header nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 25px;
}

.learnmore-header nav li a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 7px;
}

.learnmore-header nav li:hover a {
  color: goldenrod;
}

.learnmore-main {
  padding: 3%;
  background-image: url("../assets/media/trail16.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.learnmore-main article {
  background-color: #D7E7CE;
  padding: 1em 2em;
  border-radius: 10px;
  box-shadow: 0 0 12px;
  margin-bottom: 10%;
}

.learnmore-main h2 {
  color: #252525;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 26%;
  letter-spacing: 4px;
  flex: 1 0 auto;
  text-align: center;
  font-weight: bold;
}

.learnmore-main p {
  color: darkred;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex: 1 0 auto;
  text-align: center;
  padding-top: 4%;
  line-height: 170%;
  font-size: 80%;
}

.learnmore-main h3 {
  color: darkgoldenrod;
  text-transform: capitalize;
  letter-spacing: 2px;
  flex: 1 0 auto;
  text-align: center;
  padding: 4%;
  border-top: 1px solid #ddd;
}

.learnmore-main ul li {
  margin-left: 3%;
  padding-bottom: 2%;
  font-size: 95%; 
  line-height: 180%; 
  color: #333;  
  font-family: 'Georgia', serif; 
}


.learnmore-main ul li span {
  font-size: 100%;
  color: darkslateblue;
}

.learnmore-main h4 {
  color: midnightblue;
}

.remove-pt {
  list-style-type: none;
}

/* Media query:tablets and larger (768 & up) */
@media screen and (min-width: 768px) {
  .learnmore-header h1 {
    letter-spacing: 2px;
    font-size: 35px;
    padding-bottom: 2%;
  }

  .learnmore-main h2 {
    font-size: 45px;
    margin-top: 18%;
    letter-spacing: 6px;
  }

  .learnmore-main p {
    letter-spacing: 4px;
    padding-top: 6%;
    line-height: 220%;
    font-size: 100%;
  }

  .learnmore-main h3 {
    letter-spacing: 4px;
    padding: 4%;
    border-top: 1px solid #ddd;
    font-size: 30px;
  }

  .learnmore-main p ul li {
    font-size: 130%;
    padding-bottom: 2%;
    line-height: 170%;
  }

  .learnmore-main p ul li span {
    font-size: 100%;
    color: darkslateblue;
  }

  .learnmore-main h4 {
    color: black;
    font-size: 132%;
  }
}

/* Media query:tablets and larger (1024 & up) */
@media screen and (min-width: 1024px) {
  .learnmore-header h1 {
    letter-spacing: 2px;
    font-size: 50px;
    padding-bottom: 2%;
  }

  .learnmore-main h2 {
    font-size: 60px;
    margin-top: 20%;
    letter-spacing: 6px;
  }

  .learnmore-main p {
    letter-spacing: 4px;
    padding-top: 6%;
    line-height: 240%;
    font-size: 140%;
  }

  .learnmore-main h3 {
    letter-spacing: 6px;
    padding: 4%;
    border-top: 1px solid #ddd;
    font-size: 40px;
  }

  .learnmore-main p ul li {
    font-size: 200%;
    padding-bottom: 2%;
    line-height: 190%;
  }

  .learnmore-main p ul li span {
    font-size: 120%;
    color: darkslateblue;
  }

  .learnmore-main h4 {
    color: black;
    font-size: 172%;
  }

  .learnmore-header nav li a {
    font-size: 20px;
    padding: 0 7px;
  }
}